div.agentsSelectedItem_div {
    text-align: left;
    margin: 20px auto;
    border: 2px solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    min-height: 90px;
}

div.isDenyClass {
    background-color: rgb(204, 232, 181);
}

div.notDenyClass {
    background-color: rgb(255, 251, 185);
}

div.img-circle {
    width: 50px;
    height: 50px;
    background-color: rgb(146, 146, 146);
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

div.contentItem_div {
    margin: 20px;
}

div.resourceItem_div {
    float: left;
}

div.denyIcon_div {
    float: right;
}

.addResrce_input {
    margin: 10px auto !important;
}

.addResrce_button {
    margin-right: 10px;
}

.close_button {}